.nav a {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  font-family: Calibri;
  padding: 14px 10px;
  text-transform: inherit;
  text-decoration: none;
  align-items: center;
  }

.nav li {
  display: inline-block;
}

.nav {
background-color: #0085FF;
height: 85px;
margin-top: 0;
margin-right: 0;
margin-left: 0;
padding-bottom: 50;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.logo {
  position: relative;
  left: -16px;
}
.text a {
	position: relative;
	top: -45px;
	left: 44px;
}

.info {
  position: relative;
  bottom: -85px;
  text-align: center;
  font-size: 36px;
}

.info h1 {
  font-family: Calibri;
  font-size: 52px;
}

.info h3 {
  font-family: Calibri;
  font-size: 38px;
}

.info h4 {
  font-family: Calibri;
  font-size: 28px;
  position: relative;
  bottom: -25px;
}
